:root {
  --main-color: #32324a;
  --secondary-color: #f26b49;
  --third-color: #417e98;
}

#root{
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  background-color: var(--main-color);
}

h1,
h2,
p,
a,
label {
  color: white;
  font-family: "roboto";
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 5%;
}

p {
  font-size: 1.3em;
}
