#homeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 80%;
}

@media screen and (max-width: 660px) {
  #buttonDiv {
    justify-content: space-between;
  }
  #homeDiv{
    height: 90vh;
  }
}