#homeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 80%;
}

.non {
  display: none;
}

.visible {
  display: flex;
  width: 100%;
}

.mainButton {
  background-color: var(--third-color);
  border-style: none;
  height: 44px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: auto;
}

.mainButton:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 660px) {
  #buttonDiv {
    justify-content: space-between;
  }
  #homeDiv {
    height: 90vh;
  }
}
