.navigationArrows {
  width: 100%;
}

.navigationArrows > button {
  background-color: var(--primary-color);
  border-style: none;
  color: white;
  font-size: 40px;
}

.arrowPrevious {
  position: absolute;
  left: 50px;
}

.arrowNext {
  position: absolute;
  right: 50px;
}
