#MusicImg {
  width: 150px;
}

#backgroundmusic {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.rhap_container.rhap_loop--off.rhap_play-status--paused, .rhap_container.rhap_loop--off.rhap_play-status--playing {
  background-color: transparent;
  flex-direction: row-reverse;
}

.rhap_volume-button,
.rhap_volume-bar,
.iconify--midi.rhap_button-clear.rhap_main-controls-button.rhap_forward-button,
.rhap_button-clear.rhap_main-controls-button.rhap_rewind-button,
.rhap_button-clear.rhap_repeat-button, .rhap_time, .rhap_button-clear.rhap_main-controls-button.rhap_forward-button{
  display: none;
}

@media screen and (min-width: 1100px) {
  #MusicImg {
    width: 200px;
  }
}
